<!DOCTYPE html>
<html lang="en">
  <head>
    <title>C H A T S</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <% if params[:controller] === "rooms" && params[:action] === "show" %>
    <body class="bg-theme-greeny w-full h-full overflow-hidden">
  <% else %>
    <body class="bg-theme-grey-100 w-full h-full overflow-hidden">
  <% end %>
    <main class="container mx-auto px-5 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
